<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhymas WS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="container1">
        <div class="profile">
            <img src="/profile.png" alt="Profile Picture">
            <h1>Dhymas Wahyu Syilawah</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="https://github.com/BiasCoder">Projects</a></li>
                <li><a href="mailto:dimaswahyuara@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
            <div class="content">
                <div class="left">
                    <h3>Get to know me!</h3>
                    <p>I'm a <strong>Software Engineer</strong> building and managing Applications that leads to the success of the overall product. Check out some of my work in the <strong>Projects</strong> section.</p>
                    <p>I also like sharing content related to the stuff that I have learned over the years in <strong>Web Development</strong> so it can help other people of the Dev Community. Feel free to Connect or Follow me on my <a href="https://www.linkedin.com/in/dhymasws/">Linkedin</a> where I post useful content related to Programming</p>
                    <p>I'm open to <strong>Job</strong> opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to <a href="mailto:dimaswahyuara@gmail.com">contact me</a>.</p>
                </div>
                <div class="right">
                    <h3>My Skills</h3>
                    <div class="skills">
                        <span>Java</span>
                        <span>Springboot</span>
                        <span>SQL</span>
                        <span>GIT</span>
                        <span>Python</span>
                        <span>Terminal</span>
                        <span>Postman</span>
                        <span>Katalon</span>
                        <span>JMeter</span>
                        <span>Cloud</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--<aside class="social-links">-->
<!--    <a href="https://www.linkedin.com/in/dhymasws/"><img src="linkedin.jpg" alt="LinkedIn"></a>-->
<!--    <a href="#"><img src="x.jpg" alt="Twitter"></a>-->
<!--    <a href="#"><img src="github.jpg" alt="GitHub"></a>-->
<!--</aside>-->
<footer>
    <div class="footer">
        <p>&copy; 2024 Dhymas WS</p>
    </div>
</footer>
</body>
</html>
