<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhymas WS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/techno_icon.ico"  >
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="container1">
        <div class="profile">
            <img src="/profile.png" alt="Profile Picture">
            <h1>Dhymas Wahyu Syilawah</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#project">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
            <div class="content">
                <div class="left">
                    <h3>Get to know me!</h3>
                    <p>I'm a <strong>Software Engineer</strong> building and managing Applications that leads to the success of the overall product. Check out some of my work in the <strong>Projects</strong> section.</p>
                    <p>I also like sharing content related to the stuff that I have learned over the years in <strong>Web Development</strong> so it can help other people of the Dev Community. Feel free to Connect or Follow me on my <a href="https://www.linkedin.com/in/dhymasws/">Linkedin</a> where I post useful content related to Programming</p>
                    <p>I'm open to <strong>Job</strong> opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to <a href="mailto:dimaswahyuara@gmail.com">contact me</a>.</p>
                </div>
                <div class="right">
                    <h3>My Skills</h3>
                    <div class="skills">
                        <span>Java</span>
                        <span>Springboot</span>
                        <span>SQL</span>
                        <span>GIT</span>
                        <span>Python</span>
                        <span>Terminal</span>
                        <span>Postman</span>
                        <span>Katalon</span>
                        <span>JMeter</span>
                        <span>Cloud</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="project">
        <h1>Project</h1>
        <div class="project-grid">
            <div class="project-item">
                <a href="https://github.com/BiasCoder" target="_blank">
                    <img src="/approved.png" alt="Project1" class="project-image">
                </a>
                <p>Project 1</p>
            </div>
            <div class="project-item">
                <a href="https://github.com/BiasCoder" target="_blank">
                    <img src="/approved.png" alt="Project2" class="project-image">
                </a>
                <p>Project 2</p>
            </div>
            <div class="project-item">
                <a href="https://github.com/BiasCoder" target="_blank">
                    <img src="/approved.png" alt="Project3" class="project-image">
                </a>
                <p>Project 3</p>
            </div>
        </div>

    </section>

    <section id="contact" class="contact-section">
        <h1>Contact</h1>
        <p>Contact Me on:</p>
        <p><a href="https://www.linkedin.com/in/dhymasws/">Linkedin</a></p>
        <p><a href="mailto:dimaswahyuara@gmail.com">Email</a></p>
    </section>
</main>
<footer>
    <div class="footer">
        <p>&copy; 2024 Dhymas WS</p>
    </div>
</footer>
</body>
</html>
